*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.Home{
    background-image: url("./images/robin-van-geenen-YBcjvOiwMXM-unsplash.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size:cover;

}
.title{
     padding-top: 8%;
     font-size: 58px;
     color:black;
     /* text-align: center; */
}

.find{
    /* text-align: center; */
    font-size: 40px;
}

.slider{
    width: 70vw !important;
    height: 70vh !important;
    /* margin: 30px; */
    /* margin-top: 1%; */
    margin-left: 170px;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Titillium Web', sans-serif;
 }
 :root{
  --mainColor: #29335C;
  --mainColorlight: #5767AA;
  --secondaryColor: #DB2B39;
  --textColor: #eee;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: #29335C;
  color: #eee;
}
nav a{
  margin: 0 2rem;
  color: #eee;
  text-decoration: none;
}
nav a:hover{
  color: #DB2B39;
}
header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color:#eee;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
@media only screen and (max-widht: 2024px){
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }
  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #29335C;
    transition: 2s;
    transform: translateY(-100vh);
  }
  header .responsive_nav{
    transform: none;
  }
nav .nav-close-btn{
  position: absolute;
  top: 2rem;
  right: 2rem;
}
nav a{
  font-size:  1.5rem;
}
}
.footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30vh;
  font-weight: bold;
  background-color: #29335C;
  padding: 0, 1rem;
  list-style: none;
  gap: 1rem;
}
.footer-social-media {
  display:inline-flexbox;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 20px;
  margin-left: 80px;
  padding: 0 1rempx;
  color: #eee;
}
.footer-social-media:hover{
  color: #DB2B39;
}
.footer-social-media__icon {
  margin: 10px 15px;
  width: 50px;
  height: 50px;
  justify-content: space-between;
}
.footer-social-media__icon:hover{
  color: #DB2B39;
}
.footer-info  {
  display: flex;
  justify-content: center;
  color: #eee;
}
.footer-info-left, .footer-info-center, .footer-info-right {
  font-size: medium;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 10vh;
  width: 50%;
}
.footer-info__name, .footer-info__email, .footer-info__number {
  margin-bottom: 10px;
}
.footer-info__name, .footer-info__returns {
  text-align: start;
}
.footer-info__email, .footer-info__terms {
  text-align: center;
}
.footer-info__number, .footer-info__contact {
  text-align: end;
}
.footer-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-seperator {
  flex-grow: 1;
  border: none;
  height: 1px;
  width: 100%;
}
.footer-name {
  display: flex;
  justify-content: center;
}
.footer-name:hover{
  color: #DB2B39;
}
.footer-bottom__name {
  text-transform: uppercase;
  font-family: RobotoBold;
  font-size: large;
  margin: 0px 20px;
}
